@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald-VariableFont:wght.ttf);
}

@font-face {
  font-family: 'Roboto Slab';
  src: url(../fonts/RobotoSlab-VariableFont:wght.ttf);
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Header theming */

header {
  height: 80vh;
  width: 100%;
  background-image: url(../blocks.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header > * {
  position: relative;
  z-index: 2;
}

header:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 80vh;
  width: 100%;
  background: rgba(0, 0, 0, .5);
}

#block-custom-theme-branding {
  text-align: center;
}

#block-custom-theme-branding a {
  font-family: Oswald;
  font-size: 180px;
  color: #fff;
}

#block-custom-theme-main-menu {
  text-align: center;
}

#block-custom-theme-main-menu ul {
  display: inline-flex;
  margin-top: 150px;
}

#block-custom-theme-main-menu ul li {
  font-family: Oswald;
  font-size: 25px;
  padding: 40px;
}

#block-custom-theme-main-menu ul li a {
  border: 1.5px solid #fff;
  background-color: #fff;
  color: #000;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
}

/* Content theming */

main {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

h2 {
  font-family: Oswald;
  font-size: 40px;
  font-style: normal;
  margin-bottom: 20px;
}

h2 span {
  color: #000;
}

p {
  text-align: justify;
  font-family: 'Roboto Slab';
  font-size: 18px;
  font-style: normal;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

main div {
  font-style: italic;
  font-size: 15px;
  font-family: 'Roboto Slab';
  margin-bottom: 20px;
}

.node-readmore {
  font-style: normal;
  text-align: justify;
  margin-left: 300px;
}

.node-readmore a:link,
a:visited {
  border: 1.5px solid #000;
  background-color: #000;
  color: #fff;
  padding: 10px;
}

.node-readmore a:hover,
a:active {
  background-color: #fff;
  color: #000;
  transition: .4s ease;
}
.comment-forbidden {
  font-style: normal;
  margin-bottom: 50px;
  text-align: justify;
  margin-left: 300px;
  margin-top: 40px;
}

.comment-forbidden a:link,
a:visited {
  border: 1.5px solid #000;
  background-color: #000;
  color: #fff;
  padding: 10px;
}

.comment-forbidden a:hover,
a:active {
  background-color: #fff;
  color: #000;
  transition: .4s ease;
}


.feed-icon {
  display: none;
}

/* Footer theming */

#block-custom-theme-powered {
  text-align: center;
  font-size: 18px;
  font-family: Oswald;
  background-color: #000;
  color: #fff;
  padding: 60px;
}

#block-custom-theme-powered a {
  color: #fff;
}
